(c) 2016 - present. Enplus Advisors, Inc.

In [1]:
import numpy as np
import pandas as pd

**Exercise:**

* Create a `Series` and assign it to `s1a` from the integers 6, 8, 7, 5
* From a `dict`, create an integer `Series` and assign it to `s1b` with values 6, 8, 7, 5 named `s1b` and a string index 'a', 'b', 'c', and 'd'
* Convert the `s1b` values to 64-bit floating point values and assign it to `s1c`
* Extract only the values from the `s1c` as a `PandasArray`

In [2]:
s1a = pd.Series([6, 8, 7, 5])

In [3]:
s1b = pd.Series({'a': 6, 'b': 8, 'c': 7, 'd': 5})

In [4]:
s1c = s1b.astype(np.float64)

In [5]:
s1c.array # s1c.values for pandas < 0.24.0

<PandasArray>
[6.0, 8.0, 7.0, 5.0]
Length: 4, dtype: float64

In [6]:
s1c.to_numpy() # to convert to a `numpy.ndarray`

array([6., 8., 7., 5.])

**Exercise:**

* Select the first element of `s2` using integer based lookup (`iloc`).
* Select the first element of the `s2` using label indexing (`loc`).
* Select all elements greater than 6 in `s2` using a boolean `Series`

In [7]:
s2 = pd.Series([6, 8, 7, 5], index=list('abcd'), dtype='Int64')

In [8]:
s2.iloc[0] # also s2.iat[0]

6

In [9]:
s2.loc['a']

6

In [10]:
s2[s2 > 6]

b    8
c    7
dtype: Int64

**Exercise**

* Select all non-NaN values in `s3`
* What will the result of adding `s2` and `s3` together be? 
  Figure it out on paper then check in the notebook with `s2 + s3`

In [11]:
s3 = pd.Series([9., 100., np.nan], index=list('ayz'), dtype='Int64')

In [12]:
s3[s3.notnull()]

a      9
y    100
dtype: Int64

In [13]:
s2 + s3

a     15
b    NaN
c    NaN
d    NaN
y    NaN
z    NaN
dtype: Int64