(c) 2016 - present. Enplus Advisors, Inc.

In [1]:
import numpy as np
import pandas as pd

In [2]:
dat = pd.read_csv('starmine.csv', parse_dates=['date'])
dat = dat.set_index(['date', 'symbol'], verify_integrity=True).sort_index()

**Exercise:**

Calculate the average `smi` by sector.

In [3]:
grp = dat.groupby('sector')

In [11]:
res1 = grp['smi'].mean()
res1.head() # only show first 5 rows

sector
Durbl    41.495868
Enrgy    37.072148
HiTec    61.005006
Hlth     51.898917
Manuf    54.563836
Name: smi, dtype: float64

**Exercise:**

Compute summary statistics on `smi` and `cap_usd` using 
the `describe` method.

In [5]:
sum_stats = grp[['smi', 'cap_usd']].describe()

**Exercise:**

By month and sector, calculate the median of `size` and standard deviation of `liq`

In [6]:
grp2 = dat.groupby(['date', 'sector'])
mth_sector = grp2.agg({
    'size': 'median',
    'liq': 'std'
})

**Exercise:**

By month, calculate quantiles for smi using the quantiles defined in `breaks`. 

Use either the built-in `pandas` quantile approximation method defined
a `Series` or the `numpy` quantile algorithm.

In [7]:
breaks = [0.01, 0.25, 0.5, 0.75, 0.99]

In [8]:
grp3 = dat.groupby('date')
smi_quantiles = grp3.apply(lambda x: x.smi.quantile(breaks))
smi_quantiles

smi         0.01  0.25  0.50  0.75    0.99
date
1995-01-31   2.0  28.0  51.0  78.0  100.00
1995-02-28   2.0  28.0  49.0  78.0  100.00
1995-03-31   2.0  26.0  49.0  73.0   99.46
1995-04-30   2.0  26.0  48.0  77.0  100.00
1995-05-31   2.0  28.0  49.0  75.0  100.00
1995-06-30   2.0  28.0  51.0  74.0  100.00
1995-07-31   2.0  28.0  52.0  78.0  100.00
1995-08-31   2.0  28.0  50.0  77.0   99.00
1995-09-30   2.0  28.0  50.0  74.0   99.00
1995-10-31   2.0  28.0  52.0  78.0  100.00
1995-11-30   2.0  29.0  50.0  72.0   99.00